In [2]:
import pandas as pd

# 从网络读取数据
players = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")  
print(type(players)) # 查看数据结构

<class 'pandas.core.frame.DataFrame'>

In [3]:
print(players.shape)
print(players.index)

(458, 9)
RangeIndex(start=0, stop=458, step=1)

In [7]:
print(players.columns)

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [9]:
print(type(players.values))

<class 'numpy.ndarray'>

In [10]:
print(players.values)

[['Avery Bradley' 'Boston Celtics' 0.0 ... 180.0 'Texas' 7730337.0]
 ['Jae Crowder' 'Boston Celtics' 99.0 ... 235.0 'Marquette' 6796117.0]
 ['John Holland' 'Boston Celtics' 30.0 ... 205.0 'Boston University' nan]
 ...
 ['Tibor Pleiss' 'Utah Jazz' 21.0 ... 256.0 nan 2900000.0]
 ['Jeff Withey' 'Utah Jazz' 24.0 ... 231.0 'Kansas' 947276.0]
 [nan nan nan ... nan nan nan]]

In [11]:
players.T

,0,1,2,3,4,5,6,7,8,9,...,448,449,450,451,452,453,454,455,456,457
Name,Avery Bradley,Jae Crowder,John Holland,R.J. Hunter,Jonas Jerebko,Amir Johnson,Jordan Mickey,Kelly Olynyk,Terry Rozier,Marcus Smart,...,Gordon Hayward,Rodney Hood,Joe Ingles,Chris Johnson,Trey Lyles,Shelvin Mack,Raul Neto,Tibor Pleiss,Jeff Withey,NaN
Team,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,...,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,NaN
Number,0.0,99.0,30.0,28.0,8.0,90.0,55.0,41.0,12.0,36.0,...,20.0,5.0,2.0,23.0,41.0,8.0,25.0,21.0,24.0,NaN
Position,PG,SF,SG,SG,PF,PF,PF,C,PG,PG,...,SF,SG,SF,SF,PF,PG,PG,C,C,NaN
Age,25.0,25.0,27.0,22.0,29.0,29.0,21.0,25.0,22.0,22.0,...,26.0,23.0,28.0,26.0,20.0,26.0,24.0,26.0,26.0,NaN
Height,6-2,6-6,6-5,6-5,6-10,6-9,6-8,7-0,6-2,6-4,...,6-8,6-8,6-8,6-6,6-10,6-3,6-1,7-3,7-0,NaN
Weight,180.0,235.0,205.0,185.0,231.0,240.0,235.0,238.0,190.0,220.0,...,226.0,206.0,226.0,206.0,234.0,203.0,179.0,256.0,231.0,NaN
College,Texas,Marquette,Boston University,Georgia State,NaN,NaN,LSU,Gonzaga,Louisville,Oklahoma State,...,Butler,Duke,NaN,Dayton,Kentucky,Butler,NaN,NaN,Kansas,NaN
Salary,7730337.0,6796117.0,NaN,1148640.0,5000000.0,12000000.0,1170960.0,2165160.0,1824360.0,3431040.0,...,15409570.0,1348440.0,2050000.0,981348.0,2239800.0,2433333.0,900000.0,2900000.0,947276.0,NaN

In [12]:
players.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [13]:
players.tail(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
print(type(players.index))
print(type(players.columns))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.indexes.base.Index'>

In [15]:
print(players.index[0])

0

In [16]:
players.index[0] = 'Avery Bradley' # 报错不能修改单个值

TypeError: Index does not support mutable operations

In [26]:
index = players.index.tolist() # 将index转换为list
index[0] = 'Avery Bradley'

In [25]:
players.index = index
players.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Avery Bradley,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [27]:
df = players.set_index('Name') # 将球员的名字设置为索引
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [28]:
df = players.set_index(['Name', 'Team'])
df.head()

,,Number,Position,Age,Height,Weight,College,Salary
Name,Team,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [29]:
players = df.reset_index() # 将原来索引变为一列数据
players.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [30]:
temp = df.reset_index(drop=True) # 删除原来索引
temp.head()

   Number Position   Age Height  Weight            College     Salary
0     0.0       PG  25.0    6-2   180.0              Texas  7730337.0
1    99.0       SF  25.0    6-6   235.0          Marquette  6796117.0
2    30.0       SG  27.0    6-5   205.0  Boston University        NaN
3    28.0       SG  22.0    6-5   185.0      Georgia State  1148640.0
4     8.0       PF  29.0   6-10   231.0                NaN  5000000.0

In [32]:
df = players.set_index('Name')
salary = df['Salary']
print(type(salary))

<class 'pandas.core.series.Series'>

In [33]:
print(salary.index)

Index([ 'Avery Bradley',    'Jae Crowder',   'John Holland',    'R.J. Hunter',
        'Jonas Jerebko',   'Amir Johnson',  'Jordan Mickey',   'Kelly Olynyk',
         'Terry Rozier',   'Marcus Smart',
       ...
       'Gordon Hayward',    'Rodney Hood',     'Joe Ingles',  'Chris Johnson',
           'Trey Lyles',   'Shelvin Mack',      'Raul Neto',   'Tibor Pleiss',
          'Jeff Withey',              nan],
      dtype='object', name='Name', length=458)

In [35]:
salary.head()

Name
Avery Bradley    7730337.0
Jae Crowder      6796117.0
John Holland           NaN
R.J. Hunter      1148640.0
Jonas Jerebko    5000000.0
Name: Salary, dtype: float64

In [36]:
print(salary.columns)

AttributeError: 'Series' object has no attribute 'columns'

In [37]:
temp = pd.Series([2, 4, 6])
temp

0    2
1    4
2    6
dtype: int64

In [38]:
temp = pd.Series(5, index=[100, 200, 300])
temp

100    5
200    5
300    5
dtype: int64

In [39]:
import numpy as np
temp = pd.Series(np.arange(10))
temp

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [40]:

population_dict = {
    'California': 38332521,
    'Texas': 26448193,
    'New York': 19651127,
    'Florida': 19552860,
    'Illinois': 12882135
}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [41]:
df = pd.DataFrame(population, columns=['population'])
df

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [42]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
data = pd.DataFrame(data)
data

   a  b
0  0  0
1  1  2
2  2  4

In [43]:
area_dict = {
    'California': 423967, 
    'Texas': 695662, 
    'New York': 141297,
    'Florida': 170312, 
    'Illinois': 149995
}

# 使用不同的变量名
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [44]:
df = pd.DataFrame({'population': population, 'area': area})
df

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [48]:
mat = np.random.rand(3, 2)
print(mat)
df = pd.DataFrame(mat, columns=['foo', 'bar'], index=['a', 'b', 'c'])
df

[[0.61678554 0.24118378]
 [0.10613326 0.1928997 ]
 [0.74605783 0.16871796]]

        foo       bar
a  0.616786  0.241184
b  0.106133  0.192900
c  0.746058  0.168718

In [50]:
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")  
players = data.set_index('Name')
players.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [52]:
players['Salary'].head() # 获取一列数据，返回Series数据类型

Name
Avery Bradley    7730337.0
Jae Crowder      6796117.0
John Holland           NaN
R.J. Hunter      1148640.0
Jonas Jerebko    5000000.0
Name: Salary, dtype: float64

In [53]:
players[['Salary', 'Team', 'Number']].head() # 获取多列数据，返回DataFramed数据类型

                  Salary            Team  Number
Name
Avery Bradley  7730337.0  Boston Celtics     0.0
Jae Crowder    6796117.0  Boston Celtics    99.0
John Holland         NaN  Boston Celtics    30.0
R.J. Hunter    1148640.0  Boston Celtics    28.0
Jonas Jerebko  5000000.0  Boston Celtics     8.0

In [55]:
players['Salary']['Avery Bradley']

np.float64(7730337.0)

In [56]:
players['Avery Bradley'] # 直接获取一行数据报错

KeyError: 'Avery Bradley'

In [58]:
players['Salary'][0:6].head()

Name
Avery Bradley    7730337.0
Jae Crowder      6796117.0
John Holland           NaN
R.J. Hunter      1148640.0
Jonas Jerebko    5000000.0
Name: Salary, dtype: float64

In [59]:
players[0:3][0:6]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [61]:
arr1 = players['Salary'].values
print(type(arr1))
print(arr1.shape)
print(arr1[0:5])

<class 'numpy.ndarray'>
(458,)
[7730337. 6796117.      nan 1148640. 5000000.]

In [62]:
arr2 = players['Salary'].to_numpy()
print(type(arr2))
print(arr2.shape)
print(arr2[0:5])

<class 'numpy.ndarray'>
(458,)
[7730337. 6796117.      nan 1148640. 5000000.]

In [66]:
arr1[0] = 200
players.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,200.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [67]:
arr2[0] = 400
players.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,400.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [68]:
players[2, 2]

KeyError: (2, 2)

In [69]:
players[0:2, 1:3]

InvalidIndexError: (slice(0, 2, None), slice(1, 3, None))

In [70]:
item = players.loc['Avery Bradley', 'Salary']
print(item)

400.0

In [71]:
sub_df = players.loc['Avery Bradley': 'R.J. Hunter']
sub_df

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,400.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [72]:
sub_df = players.loc['Avery Bradley': 'R.J. Hunter', ['Salary', 'Team', 'Number']]
sub_df

                  Salary            Team  Number
Name
Avery Bradley      400.0  Boston Celtics     0.0
Jae Crowder    6796117.0  Boston Celtics    99.0
John Holland         NaN  Boston Celtics    30.0
R.J. Hunter    1148640.0  Boston Celtics    28.0

In [73]:
item = players.iloc[0, 0]
print(item)

Boston Celtics

In [75]:
sub_df = players.iloc[0: 5, 0:2]
sub_df

                         Team  Number
Name
Avery Bradley  Boston Celtics     0.0
Jae Crowder    Boston Celtics    99.0
John Holland   Boston Celtics    30.0
R.J. Hunter    Boston Celtics    28.0
Jonas Jerebko  Boston Celtics     8.0

In [76]:
sub_df = players.iloc[0: 5].loc[:, ['Salary', 'Team', 'Number']]
sub_df

                  Salary            Team  Number
Name
Avery Bradley      400.0  Boston Celtics     0.0
Jae Crowder    6796117.0  Boston Celtics    99.0
John Holland         NaN  Boston Celtics    30.0
R.J. Hunter    1148640.0  Boston Celtics    28.0
Jonas Jerebko  5000000.0  Boston Celtics     8.0

In [78]:
sub_ser = players.iloc[0: 5]['Salary']
print(type(sub_ser)) # 只取一列则是Series数据类型
sub_ser

<class 'pandas.core.series.Series'>

Name
Avery Bradley        400.0
Jae Crowder      6796117.0
John Holland           NaN
R.J. Hunter      1148640.0
Jonas Jerebko    5000000.0
Name: Salary, dtype: float64

In [79]:
sub_df = players.iloc[0: 5][['Salary', 'Team', 'Number']]
sub_df

                  Salary            Team  Number
Name
Avery Bradley      400.0  Boston Celtics     0.0
Jae Crowder    6796117.0  Boston Celtics    99.0
John Holland         NaN  Boston Celtics    30.0
R.J. Hunter    1148640.0  Boston Celtics    28.0
Jonas Jerebko  5000000.0  Boston Celtics     8.0

In [80]:
sub_df = players.iloc[0: 5][0:2]
sub_df

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,400.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0

In [82]:
salary = players['Salary']
salary.head()

Name
Avery Bradley        400.0
Jae Crowder      6796117.0
John Holland           NaN
R.J. Hunter      1148640.0
Jonas Jerebko    5000000.0
Name: Salary, dtype: float64

In [83]:
print(salary['Avery Bradley'])

400.0

In [84]:
print(salary.iloc[10])

2569260.0

In [85]:
sub_df = salary.iloc[0:5]
sub_df

Name
Avery Bradley        400.0
Jae Crowder      6796117.0
John Holland           NaN
R.J. Hunter      1148640.0
Jonas Jerebko    5000000.0
Name: Salary, dtype: float64

In [87]:
players.loc['Avery Bradley', 'Salary'] = 1000
players.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,1000.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [89]:
players['Salary'] = 2000
players.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,2000
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,2000
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,2000
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,2000
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,2000

In [90]:
players.Salary = 4000
players.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,4000
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,4000
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4000
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,4000
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,4000

In [92]:
df = players.sort_values(by='Age')
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,6-6,202.0,UNLV,4000
Devin Booker,Phoenix Suns,1.0,SG,19.0,6-6,206.0,Kentucky,4000
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,4000
Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,4000
Karl-Anthony Towns,Minnesota Timberwolves,32.0,C,20.0,7-0,244.0,Kentucky,4000

In [93]:
df = players.sort_values(by='Age', ascending=False)
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,6-11,240.0,NaN,4000
Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,4000
Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,4000
Vince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4000
Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,4000

In [94]:
df = players.sort_values(by=['Age', 'Weight'], ascending=False)
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,4000
Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,6-11,240.0,NaN,4000
Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,4000
Vince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4000
Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,4000

In [96]:
df = players.sort_index()
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,4000
Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4000
Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,4000
Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,4000
Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,4000

In [97]:
df = players.sort_index(ascending=False) 
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,4000
Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,4000
Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,4000
Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,4000
Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,4000

In [100]:
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
players = data.set_index('Name')
players.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [101]:
players.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [102]:
print(players.max())

TypeError: '>=' not supported between instances of 'str' and 'float'

In [103]:
values = players[['Age', 'Weight', 'Salary']].max() 
values

Age             40.0
Weight         307.0
Salary    25000000.0
dtype: float64

In [104]:
value = players['Salary'].max() 
print(value)

25000000.0

In [106]:
value = players[['Age', 'Weight', 'Salary']].max(1) 
value.head()

Name
Avery Bradley    7730337.0
Jae Crowder      6796117.0
John Holland         205.0
R.J. Hunter      1148640.0
Jonas Jerebko    5000000.0
dtype: float64

In [107]:
col = players['Salary'].idxmax()
print(col)

Kobe Bryant

In [109]:
df = players['Age'] > 25
df.head()

Name
Avery Bradley    False
Jae Crowder      False
John Holland      True
R.J. Hunter      False
Jonas Jerebko     True
Name: Age, dtype: bool

In [110]:
df = players[players['Age'] > 25] 
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0

In [111]:
df = players[(players['Age'] <= 30) & (players['Age'] >= 25)]
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0

In [112]:
df = players[(players['Age'] <= 30) & (players['Weight'] >= 185)]
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0

In [113]:
df = players.query('Age <= 30 & Weight >= 185')
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0

In [114]:
df = players.query('Number > Age')
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0

In [115]:
df = players['Weight'].isin([185, 200, 205]) 
df.head()

Name
Avery Bradley    False
Jae Crowder      False
John Holland      True
R.J. Hunter       True
Jonas Jerebko    False
Name: Weight, dtype: bool

In [116]:
df = players[players['Weight'].isin([185, 200, 205])]
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0

In [117]:
df = players[players['Weight'].isin([185])]
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,947726.0
Seth Curry,Sacramento Kings,30.0,SG,25.0,6-2,185.0,Duke,947276.0
Justin Holiday,Chicago Bulls,7.0,SG,27.0,6-6,185.0,Washington,947276.0

In [118]:
salary = players['Salary']
players['new_salary'] = salary.add(100000)
players.head()

,Team,Number,Position,Age,Height,Weight,College,Salary,new_salary
Name,,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7830337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6896117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1248640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,5100000.0

In [119]:
players['new_salary'] = salary + 200000
players.head()

,Team,Number,Position,Age,Height,Weight,College,Salary,new_salary
Name,,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7930337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6996117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1348640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,5200000.0

In [123]:
df = players[['Salary']].apply(lambda x: x.max() - x.min())
df

Salary    24969112.0
dtype: float64

In [125]:
short_data = pd.read_csv(
    "https://media.geeksforgeeks.org/wp-content/uploads/nba.csv", 
    usecols=['Name', 'Age', 'Salary', 'Weight']
)
short_data.head()

            Name   Age  Weight     Salary
0  Avery Bradley  25.0   180.0  7730337.0
1    Jae Crowder  25.0   235.0  6796117.0
2   John Holland  27.0   205.0        NaN
3    R.J. Hunter  22.0   185.0  1148640.0
4  Jonas Jerebko  29.0   231.0  5000000.0

In [130]:
short_data = short_data.iloc[0: 5]

# 读取后的数据增加了一行
short_data.to_csv('short_data.csv')

In [131]:
re_read = pd.read_csv('short_data.csv')
re_read

   Unnamed: 0           Name   Age  Weight     Salary
0           0  Avery Bradley  25.0   180.0  7730337.0
1           1    Jae Crowder  25.0   235.0  6796117.0
2           2   John Holland  27.0   205.0        NaN
3           3    R.J. Hunter  22.0   185.0  1148640.0
4           4  Jonas Jerebko  29.0   231.0  5000000.0

In [133]:
# 不会将索引值变成单独一列。
short_data.to_csv('short_data.csv', index=False)
re_read = pd.read_csv('short_data.csv')
re_read

            Name   Age  Weight     Salary
0  Avery Bradley  25.0   180.0  7730337.0
1    Jae Crowder  25.0   235.0  6796117.0
2   John Holland  27.0   205.0        NaN
3    R.J. Hunter  22.0   185.0  1148640.0
4  Jonas Jerebko  29.0   231.0  5000000.0

In [134]:
# 直接追加数据追加后会多一行
short_data.to_csv('short_data.csv', index=False, mode='a')

In [135]:
short_data.to_csv('short_data.csv', index=False, mode='a', header=False)

In [147]:
movies = pd.read_csv("imdb_top_1000.csv")

In [148]:
print(pd.isnull(movies))

     Poster_Link  Series_Title  Released_Year  Certificate  Runtime  Genre  \
0          False         False          False        False    False  False
1          False         False          False        False    False  False
2          False         False          False        False    False  False
3          False         False          False        False    False  False
4          False         False          False        False    False  False
..           ...           ...            ...          ...      ...    ...
995        False         False          False        False    False  False
996        False         False          False        False    False  False
997        False         False          False        False    False  False
998        False         False          False         True    False  False
999        False         False          False         True    False  False

     IMDB_Rating  Overview  Meta_score  Director  Star1  Star2  Star3  Star4  \
0          False     False       False     False  False  False  False  False
1          False     False       False     False  False  False  False  False
2          False     False       False     False  False  False  False  False
3          False     False       False     False  False  False  False  False
4          False     False       False     False  False  False  False  False
..           ...       ...         ...       ...    ...    ...    ...    ...
995        False     False       False     False  False  False  False  False
996        False     False       False     False  False  False  False  False
997        False     False       False     False  False  False  False  False
998        False     False       False     False  False  False  False  False
999        False     False       False     False  False  False  False  False

     No_of_Votes  Gross
0          False  False
1          False  False
2          False  False
3          False  False
4          False  False
..           ...    ...
995        False   True
996        False   True
997        False  False
998        False   True
999        False   True

[1000 rows x 16 columns]

In [139]:
print(pd.notnull(movies))

     Poster_Link  Series_Title  Released_Year  Certificate  Runtime  Genre  \
0           True          True           True         True     True   True
1           True          True           True         True     True   True
2           True          True           True         True     True   True
3           True          True           True         True     True   True
4           True          True           True         True     True   True
..           ...           ...            ...          ...      ...    ...
995         True          True           True         True     True   True
996         True          True           True         True     True   True
997         True          True           True         True     True   True
998         True          True           True        False     True   True
999         True          True           True        False     True   True

     IMDB_Rating  Overview  Meta_score  Director  Star1  Star2  Star3  Star4  \
0           True      True        True      True   True   True   True   True
1           True      True        True      True   True   True   True   True
2           True      True        True      True   True   True   True   True
3           True      True        True      True   True   True   True   True
4           True      True        True      True   True   True   True   True
..           ...       ...         ...       ...    ...    ...    ...    ...
995         True      True        True      True   True   True   True   True
996         True      True        True      True   True   True   True   True
997         True      True        True      True   True   True   True   True
998         True      True        True      True   True   True   True   True
999         True      True        True      True   True   True   True   True

     No_of_Votes  Gross
0           True   True
1           True   True
2           True   True
3           True   True
4           True   True
..           ...    ...
995         True  False
996         True  False
997         True   True
998         True  False
999         True  False

[1000 rows x 16 columns]

In [149]:
print(pd.isnull(movies).sum())

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [150]:
clear_movies = movies.dropna()
clear_movies.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [143]:
print(movies.shape)
print(clear_movies.shape)

(1000, 16)
(714, 16)

In [151]:
score = movies['Meta_score']
median = score.median()
print(median)
print(pd.isnull(movies).sum())

79.0
Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [152]:
score.fillna(median, inplace=True)
print(pd.isnull(movies).sum())

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score         0
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [153]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"
data = pd.read_csv(url, header=None)
print(pd.isnull(data).sum())

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [154]:
replace = data.replace(to_replace='?', value=np.nan)
print(pd.isnull(replace).sum())

0      0
1      0
2      0
3      0
4      0
5      0
6     16
7      0
8      0
9      0
10     0
dtype: int64

In [ ]:
df = pd.read_csv("imdb_top_1000.csv")
df.head()

In [ ]:
df['Released_Year'] = pd.to_numeric(df['Released_Year'], errors='coerce')
movies_after_2000 = df[df['Released_Year'] >= 2000]
count = len(movies_after_2000)
print(f"2000年及以后上映的电影数量: {count}")

In [ ]:
def extract_minutes(runtime_str):
    if pd.isna(runtime_str):
        return None
    
    runtime_str = str(runtime_str)
    runtime_str = runtime_str.replace(' ', '').replace('min', '')
    try:
        return int(runtime_str)
    except ValueError:
        return None

df['Runtime_Minutes'] = df['Runtime'].apply(extract_minutes)
df.head()

In [ ]:
average_runtime = df['Runtime_Minutes'].mean()
print(f"所有电影的平均时长: {average_runtime:.2f} 分钟")

long_movies = df[df['Runtime_Minutes'] > 120]
print(f"超过120分钟的电影数量: {len(long_movies)}")

short_movies = df[df['Runtime_Minutes'] < 120]
print(f"小于120分钟的电影数量: {len(short_movies)}")

In [ ]:
rating_8_to_9 = df[(df['IMDB_Rating'] >= 8) & (df['IMDB_Rating'] <= 9)]
count_8_to_9 = len(rating_8_to_9)
print(f"\nIMDB评分在[8,9]区间内的电影数量: {count_8_to_9}")

In [ ]:
director_counts = df['Director'].value_counts()
most_prolific_director = director_counts.index[0]
most_prolific_count = director_counts.iloc[0]
print(f"\n拍摄电影数量最多的导演: {most_prolific_director}")

In [ ]:
def convert_gross(value):
    if pd.isna(value) or value == '':
        return None
    try:
        # 去除逗号并转换为整数
        return int(str(value).replace(',', ''))
    except (ValueError, TypeError):
        return None

df['Gross_Numeric'] = df['Gross'].apply(convert_gross)
movies_with_gross = df[df['Gross_Numeric'].notnull()]
print(f"有票房数据的电影数量: {len(movies_with_gross)}")

total_gross = movies_with_gross['Gross_Numeric'].sum()
print(f"所有电影的票房总和: ${total_gross}")

average_gross = movies_with_gross['Gross_Numeric'].mean()
print(f"有票房数据的电影平均票房: ${average_gross:,.2f}")